# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.xml text

[diff "lang"]
    textconv = exif
    cachetextconv = true

    *.lang diff=lang

*.csv text
*.ini text
*.json text

[diff "dat"]
	textconv = exif
	cachetextconv = false

	*.dat diff=dat

[diff "jar"]
	textconv = exif
	cachetextconv = false

	*.jar diff=dat

*.gif binary
*.nbt binary
*.ogg binary
*.png binary
*.rcbp binary
*.rcdp binary
*.rcmt binary
*.rcp binary
*.rcst binary

[diff "png"]
    textconv = exif
    cachetextconv = true

    *.png diff=png

[diff "package"]
    textconv = exif
    cachetextconv = true

    *.package diff=package