# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.csv text
*.ini text
*.md text
*.properties text
*.txt text
*.xml text
*.yml text

*.dat binary
*.gif binary
*.nbt binary
*.ogg binary
*.png binary
*.rcbp binary
*.rcdp binary
*.rcmt binary
*.rcp binary
*.rcst binary

*.javaclass diff=java
*.java diff=java